* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-3b4149: #3b4149;
  --color-f0f8ff: #f0f8ff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-3b4149);
  height: 80px;
}

header a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.see-all-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-f0f8ff);
  font-weight: 800;
  padding: 10px;
}

.see-all-container p {
  margin-left: 3px;
  padding-top: 15px;
  text-align: center;
  font-size: 12px;
}

.flag2 {
  width: 150px;
}

.main-title {
  font-family: 'Lato', sans-serif;
  color: var(--color-f0f8ff);
  font-size: 20px;
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: var(--color-f0f8ff);
  cursor: pointer;
}
