* {
  margin: 0;
  padding: 0;
}

:root {
  --color-c9bcd719: #969694f5;
  --color-000000: #000;
  --color-white: white;
  --color-2c2c8a: #262669;
  --color-3f3f97: #3f3f97;
}

body,
html {
  background-color: #3f3f97;
  overflow-x: hidden;
}

.loading-span {
  color: aliceblue;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding-top: 95px;
  margin-left: 150px;
  text-align: center;
}

.country-card {
  box-shadow: 0 2px 4px rgba(78, 70, 70, 0.3);
  text-align: center;
  min-width: 175px;
  max-width: 100%;
  background-color: var(--color-c9bcd719);
  display: flex;
  padding: 5px;
  height: 150px;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  border: 0.5px solid rgb(133, 133, 133);
  border-radius: 3px;
  margin-right: 5px;
}

.country-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  justify-content: flex-start;
}

.country-card a {
  text-decoration: none;
}

section ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  list-style: none;
  gap: 4px;
}

.country-image {
  width: 100px;
  text-align: center;
  padding-right: 10px;
  justify-content: center;
  margin-top: 10px;
}

.country-name {
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-decoration: none;
}

.currency-code {
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-decoration: none;
  margin: auto;
  border-radius: 6px;
}

.country-details {
  color: var(--color-white);
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  text-decoration: none;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}

.bg-2 {
  background-color: var(--color-3f3f97);
}

.bg-2 div {
  background-color: var(--color-3f3f97);
}

.bg-1 div {
  background-color: var(--color-2c2c8a);
}

.bg-1 {
  background-color: var(--color-2c2c8a);
}

.arrowLink {
  color: white;
  font-size: 20px;
  width: auto;
  padding: 0;
}
